<h1><%= @product_model.name %></h1>
<h3>Categoria: <%= @product_model.product_category.name %></h3>
<h3>Fornecedor: <%= @product_model.supplier.trade_name %></h3>

<dl>
  <dt>SKU:</dt>
  <dd><%= @product_model.sku_code %></dd>
  <dt>Peso:</dt>
  <dd><%= @product_model.weight %> g</dd>
  <dt>Altura:</dt>
  <dd><%= @product_model.height %> cm</dd>
  <dt>Largura:</dt>
  <dd><%= @product_model.width %> cm</dd>
  <dt>Comprimento:</dt>
  <dd><%= @product_model.length %> cm</dd>
</dl>

<h2>Itens:</h2>

<% @items.each_pair do |id, quantity| %>
  <div id="warehouse-<%= id %>">
    Galpão: <%= Warehouse.find(id).name %>
    Quantidade: <%= quantity %>
  </div>
<% end %>

<nav>
  <%= link_to 'Editar', edit_product_model_path(@product_model) %>
  <%= link_to 'Voltar', product_models_path %>
</nav>
