<h1><%= @product_model.name %></h1>
<h3>Fornecedor: <%= @product_model.supplier.trade_name %></h3>

<dl>
  <dt>SKU:</dt>
  <dd><%= @product_model.sku_code %></dd>
  <dt>Peso:</dt>
  <dd><%= @product_model.weight %> g</dd>
  <dt>Altura:</dt>
  <dd><%= @product_model.height %> cm</dd>
  <dt>Largura:</dt>
  <dd><%= @product_model.width %> cm</dd>
  <dt>Comprimento:</dt>
  <dd><%= @product_model.length %> cm</dd>
</dl>


<%= link_to 'Voltar', product_models_path %>