<h1><%= @product_model.name %></h1>
<h3>Fornecedor: <%= @product_model.supplier.trade_name %></h3>

<dl>
  <dt>SKU:</dt>
  <dd><%= @product_model.sku_code %></dd>
  <dt>Dimensões:</dt>
  <dd><%= @product_model.dimensions %>
  <dt>Peso:</dt>
  <dd><%= @product_model.weight %>g</dd>
</dl>


<%= link_to 'Voltar', root_path %>