<h1>WareHouse App</h1>

<h3>Boas vindas ao sistema de gestão de estoques</h3>

<%= link_to('Lista de fornecedores', suppliers_path) %>
<%= link_to('Lista de produtos', product_models_path) %>
<%= link_to('Categorias de produto', product_categories_path) %>
<%= link_to('Lista de bundles', product_bundles_path) %>

<h2>Galpões Cadastrados</h2>
<nav>
  <%= form_with url: search_warehouses_path, method: :get do %>
  <!-- <%= label_tag :query, 'Busca:' %> -->
  <%= text_field_tag :query %>
  <%= submit_tag 'Pesquisar' %>
  <% end %>
</nav><br>


<% @warehouses.each do |w| %>
  <li>
    <%= link_to(w.name, warehouse_path(w.id)) %>
    (<%= w.code %>)
  </li>
<% end %>



