<h1>Nova Categoria de Produtos</h1>

<% if @product_category.errors.any?%>
  <span>Verifique os seguintes erros:</span>
  <ul>
  <% @product_category.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: @product_category) do |form| %>
  <div>
    <%= form.label :name  %>
    <%= form.text_field(:name) %>
  </div>
  <%= form.submit 'Salvar' %>

<% end %>