<% if supplier.errors.any?%>
  <span>Verifique os seguintes erros:</span>
  <ul>
  <% @supplier.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: supplier) do |form| %>
  <div>
    <%= form.label :trade_name %>
    <%= form.text_field(:trade_name) %>
  </div>
  <div>
    <%= form.label :company_name %>
    <%= form.text_field(:company_name) %>
  </div>
  <div>
    <%= form.label :cnpj, 'CNPJ' %>
    <%= form.text_field(:cnpj) %>
  </div>
  <div>
    <%= form.label :address %>
    <%= form.text_field(:address) %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.text_field(:email) %>
  </div>
  <div>
    <%= form.label :phone %>
    <%= form.text_field(:phone) %>
  </div>

  <%= form.submit 'Salvar' %>

<% end %>