<h1>Fornecedores Cadastrados</h1>

<%if @suppliers.empty? %>
  Não existem fornecedores cadastrados no sistema
<% else %>
  <% @suppliers.each do |s| %>
    <h2><%= link_to s.trade_name, s %></h2>
    <!-- <li>Razão social: <%= s.company_name %></li> 
    <li>CNPJ: <%= s.cnpj %></li> 
    <li>Endereço: <%= s.address %></li>  -->
    <li>E-mail: <%= s.email %></li> 
    <li>Telefone: <%= s.phone %></li> 
  <% end %>
<% end %>