<h1>Novo Fornecedor</h1>

<%= form_with(model: @supplier) do |form| %>
  <div>
    <%= form.label :trade_name, 'Nome Fantasia' %>
    <%= form.text_field(:trade_name) %>
  </div>
  <div>
    <%= form.label :company, 'Razão Social' %>
    <%= form.text_field(:company) %>
  </div>
  <div>
    <%= form.label :cnpj, 'CNPJ' %>
    <%= form.text_field(:cnpj) %>
  </div>
  <div>
    <%= form.label :address, 'Endereço' %>
    <%= form.text_field(:address) %>
  </div>
  <div>
    <%= form.label :email, 'E-mail' %>
    <%= form.text_field(:email) %>
  </div>
  <div>
    <%= form.label :phone, 'Telefone' %>
    <%= form.text_field(:phone) %>
  </div>

  <%= form.submit 'Salvar' %>

<% end %>