<h1><%= @supplier.trade_name %></h1>
<h3>Dados Cadastrais:</h3>
<dl>
  <dt>Razão Social:</dt>
  <dd><%= @supplier.company_name %></dd>
  <dt>CNPJ:</dt>
  <dd><%= @supplier.cnpj %></dd>
  <dt>Endereço:</dt>
  <dd><%= @supplier.address %>
  <dt>E-mail:</dt>
  <dd><%= @supplier.email %></dd>
  <dt>Telefone:</dt>
  <dd><%= @supplier.phone %></dd>
</dl>

<h3>Produtos Cadastrados:</h3>
<%if @supplier.product_models.empty? %>
  Não existem produtos cadastrados para esse fornecedor
<% else %>
  <% @supplier.product_models.each do |pm| %>
    <h3><%=link_to(pm.name, pm) %></h3>
    <li>SKU: <%= pm.sku_code %></li> 
    <li>Fornecdor: <%= pm.supplier.trade_name %></li> 
    <li>Dimensões:<%= pm.dimensions %></li> 
  <% end %>
<% end %>

<br><br><%= link_to 'Voltar', suppliers_path %>