<h1><%= @supplier.trade_name %></h1>
<h3>Dados Cadastrais:</h3>
<dl>
  <dt>Razão Social:</dt>
  <dd><%= @supplier.company_name %></dd>
  <dt>CNPJ:</dt>
  <dd><%= @supplier.cnpj %></dd>
  <dt>Endereço:</dt>
  <dd><%= @supplier.address %>
  <dt>E-mail:</dt>
  <dd><%= @supplier.email %></dd>
  <dt>Telefone:</dt>
  <dd><%= @supplier.phone %></dd>
</dl>


<%= link_to 'Voltar', suppliers_path %>