<% if warehouse.errors.any?%>
<span>Verifique os seguintes erros:</span>
<ul>
<% @warehouse.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>
<% end %>

<%= simple_form_for @warehouse do |f| %>
  <div>
    <%= f.input :name %>
  </div><br>
  <div>
    <%= f.input :code %>
  </div><br>
  <div>
    <%= f.input :description %>
  </div><br>
  <div>
    <%= f.input :address %>
  </div><br>
  <div>
    <%= f.input :city %>
  </div><br>
  <div>
    <%= f.input :state %>
  </div><br>
  <div>
    <%= f.input :zip_code %>
  </div><br>
  <div>
    <%= f.input :total_area %>
  </div><br>
  <div>
    <%= f.input :useful_area %>
  </div><br>
  <div>
    <span>Categorias de produtos:</span>
    <%= f.association :product_categories, as: :check_boxes, label: '' %>
  </div><br>
  <%= f.submit 'Salvar' %>

<% end %>



<!-- <%= form_with(model: warehouse) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field(:name) %>
  </div>
  <div>
    <%= form.label :code %>
    <%= form.text_field(:code) %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area(:description) %>
  </div>
  <div>
    <%= form.label :address %>
    <%= form.text_field(:address) %>
  </div>
  <div>
    <%= form.label :city %>
    <%= form.text_field(:city) %>
  </div>
  <div>
    <%= form.label :state %>
    <%= form.text_field(:state) %>
  </div>
  <div>
    <%= form.label :zip_code %>
    <%= form.text_field(:zip_code) %>
  </div>
  <div>
    <%= form.label :total_area %>
    <%= form.number_field(:total_area) %>
  </div>
  <div>
    <%= form.label :useful_area %>
    <%= form.number_field(:useful_area) %>
  </div>
  <div>
    <span>Categorias de produtos:</span>
    <%= form.collection_check_boxes :product_category_ids, ProductCategory.all, :id, :name %>
  </div>
  <%= form.submit 'Salvar' %> -->

<!-- <% end %> -->