
<h1><%= @warehouse.name %></h1>
<h2><%= @warehouse.code %></h2>

<dl>
  <dt>Descrição:</dt>
  <dd><%= @warehouse.description %></dd>
  <dt>Endereço:</dt>
  <dd><%= @warehouse.address %> - <%= @warehouse.city %>/<%= @warehouse.state %> </dd> 
  <dt>CEP:</dt>
  <dd><%= @warehouse.zip_code %></dd>
  <dt>Área Total:</dt>
  <dd><%= @warehouse.total_area %> m2</dd>
  <dt>Área Útil:</dt>
  <dd><%= @warehouse.useful_area %> m2</dd>
</dl>

<nav>
  <%= link_to 'Editar', edit_warehouse_path(@warehouse) %>
  <%= link_to 'Voltar', root_path %>
</nav>

<h2>Estoque:</h2>

<% @items.each_pair do |id, quantity| %>
  <div id="product-<%= id %>">
    <%= ProductModel.find(id).name %>
    Quantidade: <%= quantity %>
  </div>
<% end %>



