<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav aria-label="Login Menu">
      <% if user_signed_in? %>
        <span>Olá usuário: <%= current_user.email %></span> |
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
      </nav >
      <nav aria-label="Navigation Menu">
        <%= link_to 'Página inicial', root_path %>
        <% if user_signed_in? %>
          <%= link_to 'Cadastrar novo galpão', new_warehouse_path %>
          <%= link_to 'Cadastrar novo fornecedor', new_supplier_path %>
          <%= link_to 'Cadastrar novo produto', new_product_model_path %>
          <%= link_to 'Cadastrar novo bundle', new_product_bundle_path %>
        <% end %>
      </nav>
    </header>
    <main>
      <h4><%= flash[:notice] %></h4> 
      <h4><%= flash[:alert] %></h4> 
      <%= yield %>
    </main>
  </body>
</html>
